@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
    --salmao:#D5966C;
    --pretoUmPoucoNaoPreto:#151515;
    --cinzaUmPoucoPouquinhoPreto:#444444;
}
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    width: 100%;
    height: auto;/*3463*/
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 200px;
}
header{
    max-width: 462px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
header img{
    height: 294px;
    width: 100%;
    
}
header h2{
    font-size: 60px;
    font-family: 'Big Shoulders Display';
    font-weight: 800;
    margin-left:16.1px;
}
p{
    font-size: 20px;
    font-family: 'Outfit';  
    color: white;
    font-weight: 400;
    width: 400px;
}
.headerAndMain-p{
    color: black;
}
.header-divbutton{
    width: auto;
    height: auto;
    display: flex;
}
.header-divbutton div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 204px;
    height: 72px;
    color: rgb(255, 255, 255);
    background-color: black;
    margin-left: 16.1px;
}
.header-divbutton div p{
    font-family:'Big Shoulders Display';
    font-weight:bolder;
    font-size: 20px;
    letter-spacing: 2px;
}
.header-divbutton button{
    width: 56px;
    height: 72px;
    color: rgb(255, 255, 255);
    background-color: var(--salmao);
    font-weight: 100;
    font-size: 40px;
    border: 0;
}
img{
    overflow-clip-margin: content-box;
    overflow-y: hidden;
    width: 91.5%;
}
main{
    background-color: aquamarine;
    height: auto;
    max-width:462px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 16.1px;
}
figure{
    width: 430px;
    height: auto;
}
.firstImg-main{
    width: 430px;
    height: 392px;;
}
.div-title-main{
    height: 223px;
    width: 430px;
    display: flex;
    flex-direction: column;
    gap: 21px;
}
.div-title-main h2{
    font-size: 50px;
    font-family: 'Big Shoulders Display';
    font-weight: black;
    font-weight: 900;
}
.secondImg-main{
    width: 430px;
    height: 588px;
}
.thirdImg-main{
    width: 430px;
    height: 245px;

}
.endOfmain{
    width: 382px;
    height: 293px;
    background-color:var(--pretoUmPoucoNaoPreto);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Big Shoulders Display';
    padding-top:47px;
    padding-bottom:47px;
    padding-left: 24px;
    padding-right: 24px;
}
.endOfmain h2{
    font-weight: 400;
    font-size:50px;
}
footer{
    max-width: 462px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 38px;
    background-color: var(--pretoUmPoucoNaoPreto);
    padding-top:48px;
    padding-bottom:48px;
    padding-left: 32px;
    padding-right: 32px;
}

/* footer 12% */